// COLORS
$bg-color-1: #151e27;
$bg-color-2: #212d3b;
$bg-color-3: #e89c31;

$text-color-1: #d8d7d4; 
$text-color-2: #1d2733;

$color-white: #fff;
$color-black: #000;

// FONT
$defult-font-size: 1.4rem;