.header {
  background-color: $bg-color-2;
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  z-index: 10;

  &__menu-btn-box {
    display: flex;
    flex-direction: row;
    margin: 1.2rem;
  }

  &__text {
    color: $color-white;
    font-size: 1.8rem;
    padding-right: .5rem;
    position: relative;
    top: .2rem;
    text-decoration: none;
  }

  &__search-box {
    display: flex;
  }

  &__search-form {
    background-color: $bg-color-1;
    opacity: 0;
    display: flex;
    width: 0;
    visibility: hidden;
    height: 4rem;
    border-radius: 1.8rem;
    overflow: hidden;
    padding: 0.25rem;
    position: fixed;
    left: 6rem;
    transform: translateX(-2rem);
    transition: all .3s;
  }

  &__search-form--open {
    width: calc(100% - 7rem) !important;
    opacity: 1 !important;
    transform: translateX(0) !important;
    visibility: visible !important;
    transition: all .3s !important;
  }

  &__search-input {
    border: none;
    outline: none;
    font-family: inherit;
    font-size: 1.4rem;
    color: $text-color-1;
    background-color: $bg-color-1;
    width: 80%;
    padding: .5rem;
  }

  &__search-input-btn {
    background-color: $bg-color-1;
    display: block;
    width: 3rem;
    font-size: 1.5rem;
    color: $color-white;
    border: none;
    cursor: pointer;
  }
}