.card {
  display: flex;
  flex-direction: column;
  background-color: $color-3;
  border-radius: 0.8rem;
  width: 90%;
  margin: 4rem 0;
  padding: 2rem 1.4rem;

  &__img-box {
    text-align: center;
    margin-bottom: 2rem;
  }

  &__img {
    width: 20rem;
    height: 30rem;
    border-radius: 0.8rem;
  }

  &__details-box {
    margin-top: 1.4rem;
  }

  &__title-heading {
    font-size: 1.8rem;
    font-weight: normal;
  }

  &__genre-box {
    display: flex;
    flex-flow: wrap row;
    margin-top: 2rem;
  }

  &__genre {
    margin: 0.4rem;
    padding: 0.5rem 1.2rem;
    text-decoration: none;
    font-size: 1.3rem;
    border-radius: 1.7rem;
    color: $color-2;
    background-color: $bg-color-3;
  }

  &__details-list {
    list-style: none;
    font-size: 1.5rem;
  }

  &__details-item {
    margin: 1.3rem 0;

    &-icon-box {
      display: flex;
      align-items: center;
    }

    &-icon {
      color: $bg-color-3;
      font-size: 2.8rem;
      margin-left: 0.6rem;

      &--large {
        font-size: 3.5rem;
      }
    }
  }

  &__item-title {
    font-size: 1.3rem;
    color: $text-color-4;
  }

  &__post-status-box {
    display: flex;
    flex-direction: row;
    margin: 1.3rem 0;
  }

  &__post-status {
    margin: 0 0.4rem;
    padding: 0.4rem;
    border-radius: 0.4rem;
    font-size: 1.5rem;
    color: $color-white;

    &-icon {
      margin-left: 0.4rem;
    }

    &--available {
      background-color: #827717;
    }

    &--unavailable {
      background-color: #b71c1c;
    }
  }

  &__synopsis {
    font-size: 1.4rem;
    text-align: justify;

    &-title {
      font-size: 1.3rem;
      color: $text-color-4;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 2.4rem;
  }

  &__watch-list-btn {
    margin-left: 1rem;
    padding: 1.4rem 3.2rem;
    border-radius: 1.8rem;
    background-color: $bg-color-3;
    color: $color-black;
    border: none;
    outline: none;

    &:hover {
      color: $color-white;
      cursor: pointer;
    }

    i {
      font-size: 2rem;
    }
  }

  &__read-more-btn {
    i {
      padding: 1.4rem 3.2rem;
      border-radius: 1.8rem;
      color: $color-white;
      background-color: $bg-color-4;
      font-size: 2rem;

      &:hover {
        color: $color-2;
      }
    }
  }

  @media only screen and (min-width: 480px) {
    &__post-status-row-layout {
      display: flex;
      flex-flow: nowrap row;
      justify-content: space-between;
    }
  
    &__post-status-box {
      flex-direction: column;
      align-items: end;
      margin-top: 40px;
      min-width: 12.8rem;
    }
  
    &__post-status {
      margin-bottom: 1rem;
    }
  }
  
  @media only screen and (min-width: 680px) {
    &__img-row-layout {
      display: flex;
      flex-direction: row;
    }
  
    &__img-box {
      margin: 2rem 0 0 2.4rem;
    }
  }

  @media only screen and (min-width: 900px) {
    width: 100%;
  }
}

