.prime-link {
  text-decoration: none;
  transition: all 0.3s;

  &--medium {
    font-size: 1.8rem;
  }
  

  &:hover,
  :active {
    color: $bg-color-3;
  }

  &--white {
    color: $color-white;
  }

  &--white-gray {
    color: $text-color-3;
  }
}
